manifest {
    description = "NANOPORE PROM sequencing analysis pipeline"
    author = "Ben Pastore pastore.28@osu.edu"
}

workDir = "/fs/scratch/PAS0631/AAA_DEBUG_HAPLO_AWARE"
singularity.cacheDir = "${baseDir}/singularity"

process.shell = ["/bin/bash", "-euo", "pipefail"] 
// Global default params, used in configs

params {
    help = false
    base = baseDir
    genome =  "/fs/ess/PCON0160/ben/genomes/T2T_CHM13v2.0/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna"
    publish_mode = "copy"
    include_illumina = false
    
    debug = true
    use_illumina = false
    dorado = false

    ////////// illumina hyperparams ////////////
    // Options : fastqc 
    trim_adapters = true
    fastqc = false

    // Options : bwa index
    bwa_index_alg = "is"

    // Options: Alignments
    aligner = "bwa"
    bwa_min_score = false
    keep_dups = false
    keep_multi_map = false
    select_primary = false
    remove_orphan = true
    blacklist = false
    filter_bam = true
    
    // Options : DeepTools
    normalize_bw = "CPM"
    smooth_length = 10
    exact_scaling = true
    filter_strand = false
    bin_size = 5
    bw_compare_operation = "ratio"
    bw_compare_pseudocount = 1
    merge_bw = true

    phasing_tool = "longphase"

}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "${baseDir}/singularity" 
    containerOptions = "--nv"
}
singularity.pullTimeout = "2h"

/*
apptainer { 
    enabled = true
    automounts = true
    cacheDir = "${baseDir}/apptainer"
    containerOptions = "--nv"
}
apptainer.pullTimeout = "2h"
*/

process {

    hpc_account = "PAS0631"
    
    additional_cluster_commands="--cluster=ascend --partition=nextgen "

    withLabel:"qc" {
        executor = "slurm"
        cpus = 25
        clusterOptions = "--account=$hpc_account --time=01:00:00 --mem=128gb $additional_cluster_commands "
        container = null
    }

    // general labels all use my docker container
    withLabel:"low" {
        executor = "slurm"
        cpus = 15
        clusterOptions = "--account=$hpc_account --time=01:00:00 --nodes=1 --mem=32gb "
        singularity.enabled = true
        singularity.autoMounts = true
        container = "docker://benpasto/rnaseq:latest"
    }

    withLabel:"medium" {
        executor = "slurm"
        cpus = 20
        clusterOptions = "--account=$hpc_account --time=02:00:00 --nodes=1 --mem=64gb "
        singularity.enabled = true
        singularity.autoMounts = true
        container = "docker://benpasto/rnaseq:latest"
    }

    withLabel:"high" {
        executor = "slurm"
        cpus = 30
        clusterOptions = "--account=$hpc_account --time=36:00:00 --nodes=1 --mem=128gb "
        singularity.enabled = true
        singularity.autoMounts = true
        container = "docker://benpasto/rnaseq:latest"
    }
    
    withLabel:"extra_high" {
        executor = "slurm"
        cpus = 30
        clusterOptions = "--account=$hpc_account --time=100:00:00 --nodes=1 --mem=128gb "
        singularity.enabled = true
        singularity.autoMounts = true
        container = "docker://benpasto/rnaseq:latest"
    }

    // software specific containers
    withLabel:"atria" {
        executor = "slurm"
        cpus = 25
        clusterOptions = "--account=$hpc_account --time=12:00:00 --mem=64gb "
        singularity.enabled = true
        singularity.autoMounts = true
        container = "docker://benpasto/atria:latest"
    }

    withLabel:"DeepVariant" {
        executor = "slurm"
        clusterOptions = "--account=$hpc_account --nodes=1 --mem=128gb --gpus-per-node=2 --gpu_cmode=shared "
        singularity.enabled = true
        singularity.autoMounts = true
        cpus = 20
        time = "24h"
        container = "docker://google/deepvariant:latest"
        containerOptions = "--nv"
    }

    withLabel:"hifasim" {
        executor = "slurm"
        clusterOptions = "--account=$hpc_account --time=12:00:00 --mem=64gb "
        singularity.enabled = true
        singularity.autoMounts = true
        //container = "docker://dnalinux/hifiasm:latest"
    }

    withLabel:"gfatools" {
        executor = "slurm"
        clusterOptions = "--account=$hpc_account --time=12:00:00 --mem=64gb "
        singularity.enabled = true
        singularity.autoMounts = true
        container = "docker://quay.io/biocontainers/gfatools:0.5.5--h577a1d6_0"
    }

    withLabel: "samtools" {
        executor = "slurm"
        clusterOptions = "--account=$hpc_account --time=1:00:00 --mem=64gb "
        singularity.enabled = true
        singularity.autoMounts = true
        container = "quay.io/biocontainers/samtools:1.22--h96c455f_0"
    }

    withLabel:"hapdup" {
        executor = "slurm"
        clusterOptions = "--account=$hpc_account --time=12:00:00 --mem=64gb "
        singularity.enabled = true
        singularity.autoMounts = true
        container = "docker://mkolmogo/hapdup:torch110"
    }

    withLabel:"dipcall" {
        executor = "slurm"
        clusterOptions = "--account=$hpc_account --time=12:00:00 --mem=64gb "
        singularity.enabled = true
        singularity.autoMounts = true
        container = "docker://quay.io/biocontainers/dipcall:0.3--hdfd78af_0"
    }

    withLabel: "clair3" {
        executor = "slurm"
        cpus = 25
        clusterOptions = "--account=$hpc_account --time=24:00:00 --mem=128gb --gpus-per-node=1 $additional_cluster_commands "
        //container = "docker://hkubal/clair3:v2.0.1_gpu"
        //containerOptions = "--nv"
    }

    withLabel:'minimap2' {
        executor = 'slurm'
        cpus = 30
        clusterOptions = "--account=$hpc_account --time=01:00:00 --mem=128gb $additional_cluster_commands "
        container = null
    }

    withLabel: "whatshap" {
        executor = "slurm"
        cpus = 25
        clusterOptions = "--account=$hpc_account --time=01:00:00 --mem=128gb $additional_cluster_commands "
        container = "docker://jlalli/whatshap:2.1"
    }

    withLabel: "longphase" {
        executor = "slurm"
        cpus = 25
        clusterOptions = "--account=$hpc_account --time=01:00:00 --mem=128gb $additional_cluster_commands "
        container = "docker://benpasto/longphase:latest"
    }

    withLabel: "sniffles" {
        executor = "slurm"
        cpus = 25
        clusterOptions = "--account=$hpc_account --time=01:00:00 --mem=128gb $additional_cluster_commands "
        container = "docker://benpasto/sniffles:latest"
    }

    withLabel: "bcftools" {
        executor = "slurm"
        cpus = 25
        clusterOptions = "--account=$hpc_account --time=01:00:00 --mem=128gb $additional_cluster_commands "
        container = "docker://quay.io/biocontainers/bcftools:1.22--h3a4d415_1"
    }

    withLabel: "spectre" {
        executor = "slurm"
        cpus = 25
        clusterOptions = "--account=$hpc_account --time=01:00:00 --mem=128gb $additional_cluster_commands "
        container = "docker://benpasto/spectre:latest"
        errorStrategy = "ignore"
    }

    withLabel: "straglr" {
        executor = "slurm"
        cpus = 25
        clusterOptions = "--account=$hpc_account --time=01:00:00 --mem=128gb $additional_cluster_commands "
        container = "docker://quay.io/biocontainers/straglr:1.5.6--pyhdfd78af_1"
    }

    withLabel: "dorado" { 
        executor = "slurm"
        cpus = 25
        clusterOptions = "--account=$hpc_account --time=01:00:00 --mem=128gb $additional_cluster_commands --gpus-per-node=1 "
        container = "docker://nanoporetech/dorado:latest"
        containerOptions = "--nv"
    }

}