manifest {
    description = 'NANOPORE PROM sequencing analysis pipeline'
    author = 'Ben Pastore pastore.28@osu.edu'
}

workDir = "/fs/scratch/PAS0631/nanopore_tmp_vicki"
singularity.cacheDir = "${baseDir}/singularity"

process.shell = ['/bin/bash', '-euo', 'pipefail']
// Global default params, used in configs

params {
    help = false
    base = baseDir
    genome = "/fs/ess/PCON0160/ben/genomes/GRCh38/GRCh38.primary_assembly.genome.fa"
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "${baseDir}/singularity" 
}

process {

    hpc_account = "PAS0631"
    
    additional_cluster_commands="--cluster=ascend --partition=nextgen "

    withLabel:'local'{
        executor = 'local'
        container = 'docker://benpasto/rnaseq:latest'
    }

    withLabel:'qc' {
        executor = 'slurm'
        cpus = 25
        clusterOptions = "--account=$hpc_account --time=01:00:00 --mem=64gb $additional_cluster_commands "
        container = null
    }

    withLabel:'chopper' {
        executor = 'slurm'
        cpus = 25
        clusterOptions = "--account=$hpc_account --time=01:00:00 --mem=64gb $additional_cluster_commands "
        container = null
    }

    withLabel:'minimap2' {
        executor = 'slurm'
        cpus = 30
        clusterOptions = "--account=$hpc_account --time=01:00:00 --mem=128gb $additional_cluster_commands "
        container = null
    }

    withLabel:'deeptools' {
        executor = 'slurm'
        cpus = 25
        clusterOptions = "--account=$hpc_account --time=01:00:00 --mem=64gb $additional_cluster_commands "
        container = null
    }
}
